server/nodered/ccp-web-rpc-bridge.json
[
  {"id":"ccp_tab","type":"tab","label":"CCP Web RPC bridge","disabled":false,"info":"Bridges web-user/admin MQTT RPC (ccp/web/user/<uid>/request|response) to devices (ccp/v1/<encId>/cmd|cmd/res). encId = AES-128-CBC(device_id, key/iv 'ClocktoCrypt1234', PKCS7, hex) — same scheme as the firmware. Additive: does not touch other flows."},
  {"id":"ccp_broker","type":"mqtt-broker","name":"aedes-local","broker":"127.0.0.1","port":"1883","clientid":"ccp-web-rpc-bridge","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true},
  {"id":"ccp_in_req","type":"mqtt in","z":"ccp_tab","name":"web request","topic":"ccp/web/user/+/request/+","qos":"1","datatype":"utf8","broker":"ccp_broker","x":150,"y":80,"wires":[["ccp_fn_rpc"]]},
  {"id":"ccp_fn_rpc","type":"function","z":"ccp_tab","name":"route request","func":"const P=msg.topic.split('/');const uid=P[3],reqid=P[5];let r;try{r=JSON.parse(msg.payload);}catch(e){return null;}const dev=r.deviceId||'';const op=r.operation||'';const id=r.id||reqid;const K=Buffer.from('ClocktoCrypt1234');function enc(d){const c=crypto.createCipheriv('aes-128-cbc',K,K);c.setAutoPadding(true);return Buffer.concat([c.update(d,'utf8'),c.final()]).toString('hex');}const RT=`ccp/web/user/${uid}/response/${reqid}`;function reply(ok,data,err){return[null,{topic:RT,qos:1,payload:JSON.stringify({id:reqid,ok:ok,data:data||null,error:err||null})}];}if(op==='device.info'){const st=(flow.get('ccp_status')||{})[enc(dev)];return reply(true,Object.assign({device_id:dev},st||{online:false}));}if(op==='device.settings.get'){return reply(true,{config:{}});}const pend=flow.get('ccp_pending')||{};const now=Date.now();for(const k in pend){if(now-pend[k].ts>60000)delete pend[k];}let dm;if(op==='device.command'){dm={id:id,type:(r.payload&&r.payload.type)||'',params:(r.payload&&r.payload.params)||{}};}else if(op==='device.settings.put'){dm={id:id,type:'settings',params:{version:Math.floor(now/1000),config:(r.payload&&r.payload.config)||{}}};}else{return reply(false,null,'unsupported: '+op);}pend[id]={uid:uid,reqid:reqid,ts:now};flow.set('ccp_pending',pend);return[{topic:`ccp/v1/${enc(dev)}/cmd`,qos:1,payload:JSON.stringify(dm)},null];","outputs":2,"libs":[{"var":"crypto","module":"crypto"}],"x":380,"y":80,"wires":[["ccp_out"],["ccp_out"]]},
  {"id":"ccp_in_res","type":"mqtt in","z":"ccp_tab","name":"device cmd/res","topic":"ccp/v1/+/cmd/res","qos":"1","datatype":"utf8","broker":"ccp_broker","x":160,"y":160,"wires":[["ccp_fn_res"]]},
  {"id":"ccp_fn_res","type":"function","z":"ccp_tab","name":"route response","func":"let s;try{s=JSON.parse(msg.payload);}catch(e){return null;}const id=s.id;if(!id)return null;const pend=flow.get('ccp_pending')||{};const p=pend[id];if(!p)return null;delete pend[id];flow.set('ccp_pending',pend);return{topic:`ccp/web/user/${p.uid}/response/${p.reqid}`,qos:1,payload:JSON.stringify({id:p.reqid,ok:s.ok!==false,data:s,error:s.error||null})};","outputs":1,"x":390,"y":160,"wires":[["ccp_out"]]},
  {"id":"ccp_in_status","type":"mqtt in","z":"ccp_tab","name":"device status","topic":"ccp/v1/+/status","qos":"1","datatype":"utf8","broker":"ccp_broker","x":150,"y":240,"wires":[["ccp_fn_status"]]},
  {"id":"ccp_fn_status","type":"function","z":"ccp_tab","name":"cache status","func":"const P=msg.topic.split('/');const e=P[2];let s;try{s=JSON.parse(msg.payload);}catch(x){return null;}const c=flow.get('ccp_status')||{};c[e]=s;flow.set('ccp_status',c);return null;","outputs":0,"x":390,"y":240,"wires":[]},
  {"id":"ccp_out","type":"mqtt out","z":"ccp_tab","name":"publish","topic":"","qos":"1","retain":"","broker":"ccp_broker","x":620,"y":140,"wires":[]}
]
